
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script>
    var cont=0;
function loopSlider(){
  var xx= setInterval(function(){
        switch(cont)
        {
        case 0:{
            $("#slider-1").fadeOut(400);
            $("#slider-3").fadeOut(400);
            $("#slider-2").delay(400).fadeIn(400);
            $("#sButton1").removeClass("bg-gray-200");
            $("#sButton2").addClass("bg-gray-200");
        cont=1;

        break;
        }
        case 1:
        {

            $("#slider-2").fadeOut(400);
            $("#slider-3").delay(400).fadeIn(600);
            $("#sButton2").removeClass("bg-gray-200");
            $("#sButton3").addClass("bg-gray-200");

        cont=2;

        break;
        }
         case 2:
        {

            $("#slider-3").fadeOut(400);
            $("#slider-1").delay(400).fadeIn(400);
            $("#sButton3").removeClass("bg-gray-200");
            $("#sButton1").addClass("bg-gray-200");

        cont=0;
        break;
        }
        }},4000);

}

function reinitLoop(time){
clearInterval(xx);
setTimeout(loopSlider(),time);
}



function sliderButton1(){

    $("#slider-2").fadeOut(400);
    $("#slider-1").delay(400).fadeIn(400);
    $("#sButton2").removeClass("bg-gray-200");
    $("#sButton3").removeClass("bg-gray-200");
    $("#sButton1").addClass("bg-gray-200");
    reinitLoop(4000);
    cont=0

    }

    function sliderButton2(){
    $("#slider-1").fadeOut(400);
    $("#slider-3").fadeOut(400);
    $("#slider-2").delay(400).fadeIn(400);
    $("#sButton1").removeClass("bg-gray-200");
    $("#sButton3").removeClass("bg-gray-200");
    $("#sButton2").addClass("bg-gray-200");
    reinitLoop(4000);
    cont=1

    }

    function sliderButton3(){
    $("#slider-2").fadeOut(400);
    $("#slider-1").fadeOut(400);
    $("#slider-3").delay(400).fadeIn(400);
    $("#sButton2").removeClass("bg-gray-200");
    $("#sButton1").removeClass("bg-gray-200");
    $("#sButton3").addClass("bg-gray-200");
    reinitLoop(4000);
    cont=2

    }

    $(window).ready(function(){
        $("#slider-2").hide();
        $("#slider-3").hide();
        $("#sButton1").addClass("bg-gray-200");

        loopSlider();

    })

  </script>


<div class="carousel relative container mx-auto mt-5 h-screen" style="max-width:1600px;">
    <div class="carousel-inner relative overflow-hidden w-full">
      <div id="slider-1" class="container mx-auto ">
        <div class="block h-screen w-full bg-center flex bg-cover text-white pt-24 pb-80 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932)"></div>
      </div>

      <br>
      <div id="slider-2" class="container mx-auto  ">
        <div class="bg-cover bg-center h-screen text-white pt-24 pb-80 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80)"></div>
      </div>
  </div>
    <br>
       <div id="slider-3" class="container mx-auto  ">
        <div class="bg-cover bg-center h-screen text-white pt-24 pb-80 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1559163179-3fd017552229?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170)"></div>
      </div>
  </div>
      <br>

 <div  class="flex justify-between w-20 mx-auto space-x-2  pb-2 mt-3 ">
        <button id="sButton1" onclick="sliderButton1()" class="bg-black rounded-full w-4 pb-2 "></button>
        <button id="sButton2" onclick="sliderButton2() " class="bg-black rounded-full w-4 p-2 "></button>
        <button id="sButton3" onclick="sliderButton3() " class="bg-black rounded-full w-4 p-2 "></button>
  </div>


